<header>
    <nav class="nav-header">
        <h1>Schedules Application</h1>
        <ul>
            <a href="/schedules">Schedules</a>
            <a href="/home">User Info</a>
            
            <form action="/logout">
                <button  type="submit">logout</button>
            </form>
        </ul>
    </nav>
</header>