<header>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="assets/full_logo_white.png" class="d-inline-block align-top" alt="Navbarlogo" id="navbarlogo" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#onCollapse" aria-controls="onCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="onCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/schedules">My Schedules</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/allschedules">All Schedules</a>
              </li>
              <form class="form-inline my-2 my-lg-0" action="/logout">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
              </form>
        </ul>
    </div>
    </nav>

    <!-- <nav class="nav-header">
        <h1>Schedules Application</h1>
        <ul>
            <a href="/schedules">Schedules</a>
            <a href="/home">User Info</a>
            
            <form action="/logout">
                <button  type="submit">logout</button>
            </form>
        </ul>
    </nav> -->
</header>