<header>
    <nav class="nav-header">
        <h1>Schedules Application</h1>
        <ul>
            <a href="/schedules">Schedules</a>
            <a href="/home">User Info</a>
            <button>logout</button>
        </ul>
    </nav>
</header>